<?xml version="1.0"?>
<config>
  <modules>
    <Bss_Testimonials>
      <version>1.0.0</version>
    </Bss_Testimonials>
  </modules>
  <global>
    <helpers>
      <testimonials>
        <class>Bss_Testimonials_Helper</class>
      </testimonials>
    </helpers>
    <blocks>
      <testimonials>
        <class>Bss_Testimonials_Block</class>
      </testimonials>
    </blocks>
     <models>
          <testimonials>
            <class>Bss_Testimonials_Model</class>
            <resourceModel>testimonials_mysql4</resourceModel>
          </testimonials>
          <testimonials_mysql4>
            <class>Bss_Testimonials_Model_Mysql4</class>
            <entities>      
              <testimonials>
                <table>bss_testimonials</table>
              </testimonials>
            </entities>
          </testimonials_mysql4>
      </models>
      <resources>
        <testimonials_setup>
        <setup>
          <module>Bss_Testimonials</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
        </testimonials_setup>
        <testimonials_write>
        <connection>
          <use>core_write</use>
        </connection>
        </testimonials_write>
        <testimonials_read>
        <connection>
          <use>core_read</use>
        </connection>
        </testimonials_read>
      </resources>
  </global>
  <admin>
  <routers>
    <admin_testimonials>
      <use>admin</use>
    <args>
      <module>Bss_Testimonials</module>
      <frontName>admin_testimonials</frontName>
    </args>
    </admin_testimonials>
  </routers>
  </admin>
  <adminhtml>
  <layout>
    <updates>
    <testimonials>
      <file>bss/testimonials.xml</file>
    </testimonials>
    </updates>
  </layout>
  </adminhtml>
   <frontend>
        <routers>
            <bss_testimonials>
                <use>standard</use>
                <args>
                    <module>Bss_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </bss_testimonials>
        </routers>
        <layout>
          <updates>
            <testimonials>
              <file>bss/testimonials.xml</file>
            </testimonials>
          </updates>
        </layout>
    </frontend>    
</config> 