<?xml version="1.0"?>
<config>
 <tabs>
  <bss translate="label" module="testimonials">
    <label>Bss Extensions</label>
    <sort_order>0</sort_order>
  </bss>
</tabs>
<sections>
  <testimonials  translate="label" module="testimonials">                    
    <label>Testimonials</label>
    <tab>bss</tab>
    <frontend_type>text</frontend_type>
    <sort_order>0</sort_order>
    <show_in_default>1</show_in_default>
    <show_in_website>1</show_in_website>
    <show_in_store>1</show_in_store>            
    <groups>
      <testimonials_settings translate="label"> 
       <label>Settings</label>
       <frontend_type>text</frontend_type>
       <sort_order>0</sort_order>
       <show_in_default>1</show_in_default>
       <show_in_website>1</show_in_website>
       <show_in_store>1</show_in_store>
       <fields>
         <testimonials_active translate="label">
          <label>Enable</label>
          <frontend_type>select</frontend_type>
          <source_model>adminhtml/system_config_source_yesno</source_model>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <comment>Enable / Disable Testimonials</comment>
        </testimonials_active>
      </fields>
    </testimonials_settings>
  </groups>
</testimonials>
</sections>
</config>
